*{
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
 
}

html {

    align-content: center;
    vertical-align: center;
    height: 100vh;
    background-image:url("bg4.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  
}
.heading{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #fc72b9, 0 0 20px #fc72b9, 0 0 30px #fc72b9; 
    font-size: 4rem;
    margin-bottom: 50px;

}
.App h1{
    color:#fe339c;
    font-size: 50px;
}
.alert{
    padding:0;
    margin:0;
    color:#fe339c;
    font-size: 30px;
    width: fit-content;
    height: fit-content;
    animation: alternate 2s;
}
.App{

    background-color: white;
    
    box-shadow: #fc72b9 0 0 10px, #fc72b9 0 0 20px, #fc72b9 0 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin:auto auto;
    border-radius: 15px;
    padding:40px;
    width: 50%;
    min-width: 300px;
    height:50%;

}
.inputs, .controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex:1;
    margin: 20px;
    gap: 1rem;

}
#hours, #minutes, #seconds{
    width: 5rem;
    height: 2rem;
    text-align: center;
    border-radius: 5px;
    border-color: #fe339c;
    border-width: 1px;
}
@media screen and (max-width: 768px) {
    .App {
        width: 90% /* Adjust width with a percentage */
    }
    .App h1{
        margin-bottom: 10px;
    }
    .inputs{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
    #hours, #minutes, #seconds {
        grid-column: span 1; /* Each input occupies one column */
    }
    
    #set{
        grid-column: 2 / span 1; /* The seconds input spans from the second column */
    }
}